* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Popins", sans-serif;
  padding: 1.5rem;
  background-color: #1d2630;
}

h2 {
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
}

.container {
  width: 50% !important;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

form {
  padding: 2rem;
}

label {
  font-weight: bold;
}

div.submit {
  display: flex;
  justify-content: center;
}
button#valuate {
  width: 150px;
}

div#result {
  padding: 2rem;
}